---
import { Image } from "astro:assets";
import BaseHead from "../../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import FormattedDate from "../../components/FormattedDate.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { posts } from "../../collection";

import archer from "../project/archer2.png";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={"Blog | " + SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<MainLayout>
		<div class="min-h-full min-w-screen h-full max-h-full w-full">
			<div
				class="grid grid-cols-6 grid-rows-1 h-full max-h-full min-h-full gap-10"
			>
				<div
					transition:name="electricity"
					class="col-span-1 min-h-full h-full max-h-full"
				>
					<a href="/blog/">
						<Image
							src={archer}
							alt=""
							class="front-image group-focus:hidden bg-[url('../archerbg.jpg')] min-h-full h-screen bg-repeat-y max-h-full object-contain"
						/>
					</a>
				</div>
				<div class="col-span-5 text-white" transition:animate="slide">
					<div class="col-span-4 pb-2">
						<h2
							class="font-sans font-bold text-3xl md:text-6xl gap-10 text-white"
						>
							System Design
						</h2>
						<p
							class="font-bold sm:text-xs text-md uppercase bg-gradient-to-b from-yellow-300 to-yellow-500 inline-block text-transparent bg-clip-text whitespace-nowrap w-full"
						>
							Who knows, how the system is designed better than Adaptus
							Mechanicus?
							<hr class="border-yellow-500" />
						</p>
					</div>
					<ul class="pl-5 py-5 flex flex-col flex-wrap h-[100em] gap-2">
						{
							posts.filter((item) => item.data.tags.includes("Leet Code"))
								.length <= 0 && (
								<span class={"text-white text-center w-full"}>N.A.</span>
							)
						}
						{
							posts
								.filter((item) => item.data.tags.includes("Leet Code"))
								.map((post) => (
									<li class="group">
										<a
											href={`/blog/${post.slug}/`}
											class="min-w-max inline-flex pb-4 mx-5 [&:not(:last-child)]:border-b-2 border-slate-700"
										>
											<img src=`${post.data.heroImage}` class="h-8 w-8 rounded-none" alt="">
											<span class="text-white pl-4 text-center">
												<span class="group-hover:text-amber-400 ">
													<time datetime={post.data.pubDate.toISOString()} class="w-max min-w-max">
														{
															post.data.pubDate.toLocaleDateString("en-us", {
																year: "numeric",
																month: "short",
																day: "numeric",
															})
														}
													</time>
												</span>
												{"| " + post.data.title}
											</span>
										</a>
									</li>
								))
								.slice(0, 30)
						}
					</ul>
				</div>
			</div>
		</div>
	</MainLayout>
</html>
