---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import { ViewTransitions } from "astro:transitions";
import "../styles/global.css";

interface Props {
	title: string;
	description: string;
	image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = "/blog-placeholder-1.jpg" } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link
	rel="preload"
	href="/fonts/atkinson-regular.woff"
	as="font"
	type="font/woff"
	crossorigin
/>
<link
	rel="preload"
	href="/fonts/atkinson-bold.woff"
	as="font"
	type="font/woff"
	crossorigin
/>

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<ViewTransitions />
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<style is:inline>
	li {
		list-style-type: " - ";
	}
	@font-face {
		font-family: "Atkinson";
		src: url("/fonts/atkinson-regular.woff") format("woff");
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "Atkinson";
		src: url("/fonts/atkinson-bold.woff") format("woff");
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}
	body {
		font-family: "Atkinson", sans-serif;
		margin: 0;
		padding: 0;
		text-align: left;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		background-size: 100% 600px;
		word-wrap: break-word;
		overflow-wrap: break-word;
		color: rgb(var(--gray-dark));
		font-size: 20px;
		line-height: 1.7;
	}
	main {
		width: calc(100% - 2em);
		max-width: 100%;
		margin: 0;
	}
	.prose {
		width: 720px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 1em;
		color: rgb(var(--gray-dark));
	}
	.title {
		margin-bottom: 1em;
		padding: 1em 0;
		text-align: center;
		line-height: 1;
	}
	.title h1 {
		margin: 0 0 0.5em 0;
	}
	.date {
		margin-bottom: 0.5em;
	}
	.last-updated-on {
		font-style: italic;
	}
</style>
