---
import { type CollectionEntry } from "astro:content";
import { posts } from "../collection";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, readTime, tags } =
	Astro.props;

function slice2(array: any[], chunk: number, offset: number) {
	var end = offset + chunk,
		out = array.slice(offset, end); // Get the chunk
	if (array.length < end) {
		// If the chunk should wrap
		out = out.concat(array.slice(0, end - array.length)); // Concatenate a the rest of the chunk, from the start of the array, to the output.
	}
	return out;
}
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="md:grid md:grid-cols-10">
					<div class="col-span-7">
						<div class="prose">
							<div class="flex justify-around">
								<a href="/blog/" class="text-gray-800">
									<div
										class="inline-flex gap-x-1 group hover:bg-slate-300 p-2 rounded-md border-2 border-transparent focus:border-black"
										tabindex="0"
									>
										<img
											src="/icons/arrow-back-outline.svg"
											alt="⬅️"
											class="w-[30px] h-[30px]"
										/>
										<span
											class="align-middle text-center group-hover:text-black"
											>Back to Portfolio</span
										>
									</div>
								</a>
								<a href="/blog/tags/" class="text-gray-800">
									<div
										class="inline-flex gap-x-1 group hover:bg-slate-300 p-2 rounded-md border-2 border-transparent focus:border-black"
										tabindex="0"
									>
										<img
											src="/icons/menu.svg"
											alt="⬅️"
											class="w-[30px] h-[30px]"
										/>
										<span
											class="align-middle text-center group-hover:text-black"
											>Tag Catalog</span
										>
									</div>
								</a>
							</div>
							<div class="title">
								<div class="text-gray-500">
									<FormattedDate date={pubDate} />
									{
										updatedDate && (
											<div class="last-updated-on">
												Last updated on <FormattedDate date={updatedDate} />
											</div>
										)
									}
								</div>
								<h1>{title}</h1>
								<hr />
							</div>
							<slot />
						</div>
					</div>
					<div class="col-span-3 pt-40">
						<div class="md:sticky md:top-10">
							<div id="minute-read" class="">
								<p>Minutes Read</p>
								<div class="inline-flex gap-2 pl-5">
									<img src="/icons/timer.svg" class="w-[30px]" alt="" />
									<p class="pl-1">{readTime ? readTime : "N/A"}</p>
								</div>
							</div>
							<div id="other_links" class="pb-4">
								<span> Other Posts:</span>
								<ul
									class="pl-6 list-disc text-zinc-400 tracking-widest font-extralight pb-4"
								>
									{
										posts
											.filter((post) => post.data.tags.includes(tags[0]))
											.sort((x,y)=> (x.data.order && y.data.order)? x.data.order - y.data.order : x.data.title.localeCompare(y.data.title))
											.map((post) =>
												post.data.title === title ? (
													<li class="text-black list-[upper-roman]" style="">
														<a
															class="group-hover:text-black underline underline-offset-4 hover:text-black"
															href=""
														>
															{post.data.title}
														</a>
													</li>
												) : (
													<li class="group hover:marker:text-black">
														<a
															class="group-hover:text-black"
															href={`/blog/${post.slug}/`}
														>
															{post.data.title}
														</a>
													</li>
												)
											)
									}
								</ul>
							</div>
							<div id="tags">
								<p class="pb-2">Tags:</p>
								<div class="flex gap-3 pl-5 flex-wrap">
									{
										tags != null && tags.length !== 0 ? (
											tags.map((tag: string) => (
												<a
													href={`/blog/tags/${tag}`}
													class="p-1 px-3 rounded-xl border-2 border-transparent group hover:border-slate-400"
												>
													<>
														<span class="border-r-2 border-black text-black">
															#{" "}
														</span>
														<span class="text-slate-400 pl-2 group-hover:text-slate-600">
															{" "}
															{tag}
														</span>
													</>
												</a>
											))
										) : (
											<span class="">N / A</span>
										)
									}
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
